<div nz-row>
        <div nz-col [nzSpan]="24">
                <h1>Shopping Basket</h1>
        </div>
</div>
<div nz-row>
        <div nz-col [nzSpan]="18">
                <nz-card [nzHoverable]="true">
                        <div nz-row>
                                <div nz-col [nzSpan]="5">
                                        <img nz-image width="80" nzSrc="assets/img/71OVzMI6pZL._AC_SX425_.jpg" alt="">
                                </div>
                                <div nz-col [nzSpan]="12">
                                        <p>Apple iPhone 7 with FaceTime - 128G<br />
                                                $15.70 - Total : $15.70<br>- Color: Black<br />
                                                Model : 100</p>
                                </div>
                                <div nz-col [nzSpan]="7">
                                        Quantity<br />
                                        <div nz-row>
                                                <div nz-col [nzSpan]="14">
                                                        <nz-slider [nzMin]="0" [nzMax]="20" [(ngModel)]="value1">
                                                        </nz-slider>
                                                </div>
                                                <div nz-col [nzSpan]="10">
                                                        <nz-input-number [nzMin]="0" [nzMax]="20" [nzStep]="1"
                                                                [(ngModel)]="value1">
                                                        </nz-input-number>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </nz-card>
                <nz-card [nzHoverable]="true">
                        <div nz-row>
                                <div nz-col [nzSpan]="5">
                                        <img nz-image width="80"
                                                nzSrc="assets/img/0013868_apple-iphone-12-pro-max_808.jpeg" alt="">
                                </div>
                                <div nz-col [nzSpan]="12">
                                        <p>Apple iPhone 7 with FaceTime - 128G<br />
                                                $15.70 - Total : $15.70<br>- Color: Black<br />
                                                Model : 100</p>
                                </div>
                                <div nz-col [nzSpan]="7">
                                        Quantity<br />
                                        <div nz-row>
                                                <div nz-col [nzSpan]="14">
                                                        <nz-slider [nzMin]="0" [nzMax]="20" [(ngModel)]="value2">
                                                        </nz-slider>
                                                </div>
                                                <div nz-col [nzSpan]="10">
                                                        <nz-input-number [nzMin]="0" [nzMax]="20" [nzStep]="1"
                                                                [(ngModel)]="value2">
                                                        </nz-input-number>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </nz-card>
                <nz-card [nzHoverable]="true">
                        <div nz-row>
                                <div nz-col [nzSpan]="5">
                                        <img nz-image width="80"
                                                nzSrc="assets/img/apple-iphone-11-color-overview-5d84c0605eab2.jpg"
                                                alt="">
                                </div>
                                <div nz-col [nzSpan]="12">
                                        <p>Apple iPhone 7 with FaceTime - 128G<br />
                                                $15.70 - Total : $15.70<br>- Color: Black<br />
                                                Model : 100</p>
                                </div>
                                <div nz-col [nzSpan]="7">
                                        Quantity<br />
                                        <div nz-row>
                                                <div nz-col [nzSpan]="14">
                                                        <nz-slider [nzMin]="0" [nzMax]="20" [(ngModel)]="value3">
                                                        </nz-slider>
                                                </div>
                                                <div nz-col [nzSpan]="10">
                                                        <nz-input-number [nzMin]="0" [nzMax]="20" [nzStep]="1"
                                                                [(ngModel)]="value3">
                                                        </nz-input-number>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </nz-card>
                <nz-card [nzHoverable]="true">
                        <div nz-row>
                                <div nz-col [nzSpan]="5">
                                        <img nz-image width="80" nzSrc="assets/img/item_XL_22286026_30066659.jpg"
                                                alt="">
                                </div>
                                <div nz-col [nzSpan]="12">
                                        <p>Apple iPhone 7 with FaceTime - 128G<br />
                                                $15.70 - Total : $15.70<br>- Color: Black<br />
                                                Model : 100</p>
                                </div>
                                <div nz-col [nzSpan]="7">
                                        Quantity<br />
                                        <div nz-row>
                                                <div nz-col [nzSpan]="14">
                                                        <nz-slider [nzMin]="0" [nzMax]="20" [(ngModel)]="value4">
                                                        </nz-slider>
                                                </div>
                                                <div nz-col [nzSpan]="10">
                                                        <nz-input-number [nzMin]="0" [nzMax]="20" [nzStep]="1"
                                                                [(ngModel)]="value4">
                                                        </nz-input-number>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </nz-card>
                <nz-card [nzHoverable]="true">
                        <div nz-row>
                                <div nz-col [nzSpan]="5">
                                        <img nz-image width="80"
                                                nzSrc="assets/img/ZbIOJu4lGHysLJec9gk6sKC6DfGJebcX77JoHbNd.png" alt="">
                                </div>
                                <div nz-col [nzSpan]="12">
                                        <p>Apple iPhone 7 with FaceTime - 128G<br />
                                                $15.70 - Total : $15.70<br>- Color: Black<br />
                                                Model : 100</p>
                                </div>
                                <div nz-col [nzSpan]="7">
                                        Quantity<br />
                                        <div nz-row>
                                                <div nz-col [nzSpan]="14">
                                                        <nz-slider [nzMin]="0" [nzMax]="20" [(ngModel)]="value5">
                                                        </nz-slider>
                                                </div>
                                                <div nz-col [nzSpan]="10">
                                                        <nz-input-number [nzMin]="0" [nzMax]="20" [nzStep]="1"
                                                                [(ngModel)]="value5">
                                                        </nz-input-number>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </nz-card>
        </div>
        <div nz-col [nzSpan]="6">
                <h2>Flat Shipping Rate: 50$</h2>
                <h2>Sub-Total: 5050$</h2>
                <h2>Total: 5100$</h2>
                <div nz-row>
                        <div nz-col [nzSpan]="24">
                                <button nz-button nzType="primary" nzDanger>Clear Cart</button>
                        </div>
                </div>
                <div nz-row>
                        <div nz-col [nzSpan]="24">
                                <button nz-button nzType="primary">Continue Shopping</button>
                        </div>
                </div>

                <div nz-row>
                        <div nz-col [nzSpan]="24">
                                <button nz-button nzType="primary">Checkout</button>
                        </div>
                </div>


        </div>
</div>